<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="/css/blobs.css">
</head>
<body>
    <div class="container">
      <div class="orb-red"></div>
      <div class="orb-blue"></div>
      <img src="/images/logo.png" alt="logo" class="overlay-image logo">
    </div>
    <div class="button-container">
      <a href="%= spotifyAuthUrl %>" class="spotify-login-button">
        <img src="/images/spotify-logo.png" alt="spotify-logo" class="spotify-logo">Continue with Spotify
      </a>
    </div>
    <!-- Link to JavaScript file -->
    <script src="/js/blobs.js"></script>
</body>
</html>