
.button-container {
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 50px;
}
/* greys out confirm button on quiz page when in mobile resolution */
/*
 button:hover {
    filter: brightness(40%);
    cursor: pointer;
    transition: background-color 0.3s ease;
  } */

.home-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 50px 40px;
  background-color: rgba(151, 169, 246, 0.5);
  color: white;
  font-size: 1rem;
  font-family: 'Geom', sans-serif;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  border: none;
  min-width: 300px;
  height: auto;
}

.modal {
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: rgba(151, 169, 246, 0.5);
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.modal-content {
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  height: auto;
  box-sizing: border-box;
  z-index: 1002;
  color: white;
  font-size: 1rem;
}

.spotify-iframe {
  min-width: 100%;
  height: 80vh;
  border-radius: 10px;
  border: none;
}

@media (max-width: 768px) {
  .modal-content {
    width: 95%;
    padding: 10px;
  }

  .spotify-iframe {
    height: 50vh;
  }
}

.close-button {
  position: absolute;
  top: 30px;
  right: 45px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #fff;
}

.confirm-button {
  margin-top: auto;
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 20px;
  font-family: 'Geom', sans-serif;
  color: #0C0C20;
  border: none;
  border-radius: 50px;
  min-width: 40vw;
  max-width: 300px;
  height: auto;
}

.playlist-circle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.playlist-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  flex: 0 0 auto;
}

.redo-vybe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  color: white;
}

.confirmation-text {
font-size: 1.5rem;
text-align: center;
width: 100%;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.yes-button, .no-button {
  padding: 20px;
  font-family: 'Geom', sans-serif;
  color: #0C0C20;
  background-color: rgba(151, 169, 246, 0.5);
  border: none;
  border-radius: 50px;
  min-width: 40vw;
  max-width: 150px;
  height: auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  .playlist-circle {
    width: 80px;
    height: 80px;
  }
}

.info-button {
  position: fixed;
  top: 8vh;
  right: 5vw;
  height: 3vh;
  width: 3vw;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: rgba(151, 169, 246, 0.5);
  border-radius: 50%;
  z-index: 1000;
}

.hidden {
  display: none;
}
