@keyframes quiet {
    0%, 100% {
        height: 60%;
    }
    25%, 75% {
        height: 80%;
    }
    50% {
        height: 30%;
    }
}

@keyframes normal {
    0%, 100% {
        height: 70%;
    }
    25%, 75% {
        height: 100%;
    }
    50% {
        height: 30%;
    }
}

@keyframes loud {
    0%, 100% {
        height: 90%;
    }
    25%, 75% {
        height: 120%;
    }
    50% {
        height: 30%;
    }
}


.loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: transparent;
}

.boxContainerTop {
    display: flex;
    justify-content: space-evenly;
    height: 128px;
    --boxSize: 32px;
    --gutter: 16px;
    width: 240px;
    background-color: transparent;
}

.box {
    outline: 3px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*
.boxContainerTop .box .topSemi {
    width: 100%;
    height: 16px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background: #F6FAF9;
}

.boxContainerTop .box .bottomSemi {
    width: 100%;
    height: 16px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background: #F6FAF9;
}
*/

.boxContainerTop .box .centreRect {
    position: relative;
    /* transform: scaleY(0.4); */
    height: 80vh;
    width: var(--boxSize);
    background: #F6FAF9;
    border-radius: 15px;
    animation: 1.2s ease-in-out infinite;
    transform-origin: bottom;
}

.boxContainerTop .box1 .centreRect {
    animation-name: quiet;
}

.boxContainerTop .box2 .centreRect {
    animation-name: quiet;
}

.boxContainerTop .box3 .centreRect {
    animation-name: normal;
}

.boxContainerTop .box4 .centreRect {
    animation-name: quiet;
}

.boxContainerTop .box5 .centreRect {
    animation-name: quiet;
}

.boxContainerBottom {
    transform: scaleY(-1);
    display: flex;
    justify-content: space-evenly;
    height: 128px;
    --boxSize: 32px;
    --gutter: 16px;
    width: 240px;
    opacity: 50%;
}

/*

.boxContainerBottom .box .topSemi {
    width: 100%;
    height: 16px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background: #000000;
    opacity: 6%;
}

.boxContainerBottom .box .bottomSemi {
    width: 100%;
    height: 16px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background: #F6FAF9;
    opacity: 12%;
}
*/

.boxContainerBottom .box .centreRect{
    position: relative;
    height: 100%;
    width: var(--boxSize);
    background: linear-gradient(to top, #FFFFFF, #000000);
    opacity: 12%;
    animation-duration: 1.2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    transform-origin: top;
    border-radius: 15px;
}

.boxContainerBottom .box1 .centreRect{
    animation-name: quiet;
}

.boxContainerBottom .box2 .centreRect{
    animation-name: quiet;
}

.boxContainerBottom .box3 .centreRect{
    animation-name: normal;
}

.boxContainerBottom .box4 .centreRect{
    animation-name: quiet;
}

.boxContainerBottom .box5 .centreRect{
    animation-name: quiet;
}