.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.overlay-image {
  width: auto;
  height: auto;
  max-width: 70vw;
  max-height: 30vh;
  object-fit: contain;
}

.button-container {
  position: fixed; /* Fix the position for testing */
  bottom: 100px; /* Place it 100px from the bottom */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Offset by half its width */
  z-index: 1000; /* Make sure it's on top */
}

.spotify-login-button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 25px 70px;
  background-color: rgba(151, 169, 246, 0.5);
  color: white;
  font-size: 1rem;
  font-family: 'Geom', sans-serif;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  white-space: nowrap;
  min-width: 70px;
  max-width: 60vw;
}

.spotify-logo {
  width: auto;
  height: 35px;
  margin-right: 10px;
  vertical-align: middle;
}

@media (max-height: 667px) {
  .button-container {
    bottom: 80px;
  }

  .spotify-login-button {
    padding: 20px 35px;
    font-size: 0.9rem;
    border-radius: 30px;
  }

  .spotify-logo {
    height: 25px;
  }
}